name: Java Unit Tests

permissions:
  contents: read
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Java Development Kit
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Run Maven unit tests
      - name: Run unit tests
        run: mvn test
